<section class="contact-container" id="contact">
    <h2>Contacto</h2>
    <p>¿Quieres trabajar conmigo, proponerme algo o simplemente saludar? ¡Estoy encantado de hablar contigo!</p>
  
    <ul class="contact-list">
      <li>📧 <strong>Email:</strong> <a href="mailto:lucaslibmar@gmail.com">lucaslibmar&#64;gmail.com</a></li>
      <li>📱 <strong>Teléfono:</strong> <a href="tel:+34669814865">+34 669 814 865</a></li>
      <li>💼 <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/lucas-librado-martín-1003ba2a4/" target="_blank">Lucas Librado Martín</a></li>
      <li>🐱 <strong>GitHub:</strong> <a href="https://github.com/Lucasli26" target="_blank">&#64;Lucasli26</a></li>
      <li>📄 <strong>Descargar CV:</strong> <a href="assets/CV_Lucas.pdf" download>Haz clic aquí</a></li>
    </ul>
  </section>