<section class="about-container" id="about">
    <h2>Sobre mí</h2>
    <p>
      ¡Hola! Soy Lucas, un apasionado del desarrollo web frontend con especial interés por la accesibilidad, la experiencia de usuario y los diseños limpios y funcionales.
    </p>
    <p>
      Me gusta escribir código limpio, trabajar en equipo y seguir aprendiendo nuevas tecnologías para mejorar cada día como desarrollador.
    </p>
    <p>
      Recientemente he finalizando mis estudios de Grado Superior en Desarrollo de Aplicaciones Web, donde he adquirido una sólida base en tecnologías como HTML, CSS, JavaScript, PHP, MySQL y frameworks como Boostrap.
    </p>
    <p>
        Además he realizado cursos basicos para aprender por mi cuenta frameworks como Angular y React.
    </p>
    <p>
      Busco oportunidades donde pueda aportar lo que sé, pero sobre todo seguir aprendiendo de personas con experiencia. Me entusiasma trabajar en proyectos reales donde pueda crecer profesional y personalmente.
    </p>
  </section>
  