<section class="cv-container">
    <div class="cv-header">
      <div class="photo">
        <img src="assets/FotoPerfil.jpeg" alt="Foto de perfil">
      </div>
      <div class="info">
        <h1>[Lucas Librado Martín]</h1>
        <h2>Desarrollador Web Frontend</h2>
        <p>Email: Lucaslibmar&#64;gmail.com | Tel: +34 669 814 865 | 22 Años</p>
        <p>Dirección: Calle Cuba Nº 20 45122 Toledo</p>
        <p>
          <a href="https://github.com/Lucasli26" target="_blank">GitHub</a> ·
          <a href="https://www.linkedin.com/in/lucas-librado-martín-1003ba2a4/" target="_blank">LinkedIn</a>
        </p>
      </div>
    </div>
  
    <section class="cv-section">
      <h3>Perfil</h3>
      <p>
        Desarrollador web enfocado en el frontend, con pasión por el código limpio, la accesibilidad y el diseño funcional.
      </p>
    </section>
  
    <section class="cv-section">
      <h3>Habilidades</h3>
      <ul class="columns">
        <li>HTML / CSS / JS / PHP</li>
        <li>Angular / React: Básico</li>
        <li>Bootstrap</li>
        <li>SQL / MySQL</li>
        <li>Git y GitHub</li>
      </ul>
    </section>
  
    <section class="cv-section">
      <h3>Educación</h3>
      <p><strong>Grado superior en Desarrollo de Aplicaciones Web</strong> – IES Julio Verne (2021 - 2024)</p>
      <p><strong>Grado medio en Miicroinformática y redes</strong> – IES Azarquiel (2019 - 2020)</p>
      <!-- <p><strong>Curso Angular y React</strong> – EFundae (2025)</p> -->
    </section>
  
    <section class="cv-section">
      <h3>Proyectos</h3>
      <p><strong>Portfolio personal:</strong> Portfolio hecho en Angular para mostrar habilidades, CV e información personal.</p>
      <p><strong>Psydex:</strong> Proyecto realizado como TFG para el grado superior hecho con HTML,CSS,JS,PHP.</p>
    </section>
  
    <section class="cv-section">
      <h3>Idiomas</h3>
      <ul class="inline-list">
        <li>Español: Nativo</li>
        <li>Inglés: Intermedio</li>
      </ul>
    </section>
  </section>
  