<section class="projects-container">
    <h2>Proyectos</h2>
       
    <section class="project">
      <div class="project-header">
        <h3>Psydex</h3>
        <p><strong>Tecnologías:</strong> HTML, CSS, JS, PHP</p>
      </div>
      <div class="project-image">
        <img src="assets/psydex_screenshot.png" alt="Captura de pantalla de Psydex">
      </div>
      <p>
        Proyecto realizado como TFG (Trabajo de Fin de Grado) en el que se implementa una aplicación web con el uso de la PokeApi siendo una enciclopedia virtual relaccionada con la saga Pokémon, donde ademas de ver la información de estos puedes gestionar tus propios equipos. Utiliza PHP y tecnologías front-end.
      </p>
      <a href="http://psydex.rf.gd" target="_blank" class="btn">Ver Proyecto</a>
    </section>
  
    <section class="project">
        <div class="project-header">
          <h3>Lista de Juegos</h3>
          <p><strong>Tecnologías:</strong> Angular, HTML, CSS, JavaScript</p>
        </div>
        <div class="project-image">
            <img src="assets/listado-juegos.png" alt="Captura de pantalla de Psydex">
        </div>
        <p>
          Es una aplicación básica la cual consiste mediante una Api poder añadir a una lista un juegos para lo que quieras, pudiendo valorar del 0-10 dicho juego que hayas acabado.
        </p>
        <a href="https://lista-de-juegos.vercel.app" target="_blank" class="btn">Ver Proyecto</a>
      </section>

      <section class="project">
        <div class="project-header">
          <h3>Lista de Tareas</h3>
          <p><strong>Tecnologías:</strong> React, HTML, CSS, JavaScript</p>
        </div>
        <div class="project-image">
            <img src="assets/lista-tareas.png" alt="Captura de pantalla de Psydex">
        </div>
        <p>
          Es una aplicación básica para poner en practica lo aprendido en React, la aplicacion consiste en poder enlistar tareas y poder ir marcandolas y borrarlas.
        </p>
        <a href="https://check-list-kappa.vercel.app" target="_blank" class="btn">Ver Proyecto</a>
      </section>
  </section>
  